.header{
    background-color: rgb(200, 230, 100);
    text-align: center;
    width: 100%;   
    padding: 20px;
    box-sizing: border-box;

}
#Acceuil{
    background-color: aqua;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
#Actualités{
    background-color: blueviolet;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
body{
    font-size: 16px;
    margin: 0;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}
@media (min-width: 768px){
    #Acceuil, #Actualités{
        width: 50%;
        float: left;
        height: auto;
}
    #Actualités {
        float: right;
        }
    }
